{% extends "layoutAdmin.html.twig" %} {% block content %}
<div class="container-fluid">
    <div class="row">

        <div class="col-xs-8 col-xs-offset-2 cadre">
            <h3>Ajouter un chapitre</h3>

                    {{ form_start(form, {'attr': {'class': 'form-horizontal col-lg-12'}}) }} 
                    {{ form_errors(form)}}


                    <div class="form-group">
                        {{ form_label(form.title, 'Titre :', {'label_attr': {'class': 'control-label'}})}} {{ form_widget (form.title, {'attr': {'class': '' }}) }}
                    </div>


                    <div class="form-group">
                        {{ form_label(form.number, 'Numéro :', {'label_attr': {'class': 'control-label'}})}} {{ form_widget (form.number, {'attr': {'class': '' }}) }}
                    </div>

                    <div class="form-group">
                        {{ form_row(form.published, {'label': 'publier'}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.content, 'Chapitre :', {'label_attr': {'class': ''}}) }} {{ form_widget (form.content, {'attr': {'class': 'ckeditor' }}) }}
                    </div>

                    <div class="form-group">
                        {{ form_widget (form.image, {'label': 'Image','attr': {'class': '' }}) }}
                    </div>



                    {{form_row(form.save, {'label': 'Enregistrer', 'attr': {'class': 'btn btn-success btn-xs pull-right'}}) }} {{ form_end(form)}}
        </div>
    </div>
</div>
{% endblock %}